/* styles.css */
.index-container {
  text-align: center;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.input {
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.button {
  padding: 10px 15px;
  border: none;
  background-color: #4caf50;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}

.search-result {
  margin-top: 20px;
  font-size: 16px;
  color: #333;
}

.containerResult {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
  gap: 10px; /* Espacio entre los elementos */
}

.containerResultItem {
  background-color: #f9e2be; /* Solo para dar color a los elementos */
  padding: 5px;
  text-align: center;
  color: white;
  border-radius: 10px;
}
.containerResult .item {
  font-size: 14px;
  margin-block: 4px;
  background-color: #00000014;
  box-shadow: 0 0 1px 1px #00000014;
  border-radius: 5px;
}
/* Cuando haya un número impar de elementos, el último ocupará toda la fila */
.containerResult > .containerResultItem:nth-child(2n + 1):not(:last-child) {
  grid-column: span 1; /* Los elementos en posiciones impares ocuparán 50% */
}

.containerResult > .containerResultItem:nth-child(2n) {
  grid-column: span 1; /* Los elementos en posiciones pares ocuparán 50% */
}

/* Cuando haya más de 2 elementos y el total es impar, el último ocupará toda la fila */
.containerResult > .containerResultItem:nth-child(2n + 1):last-child {
  grid-column: span 2; /* El último elemento ocupará 100% */
}
